
#cabeçalho {  
  color:black;      
  display: absolute ;
  padding: 30px 30px 30px 30px;    
  align-items: center; 
  text-align: center;  
  margin-bottom: 50px;  
  background: linear-gradient(130deg,#ff8c00,#d86c00 41.07%,#ff8247 76.05%);   
  
  animation-name: slidein; 
  animation-duration: 3s;
    
}

h1{  
  font-family: 'Montserrat', sans-serif;  
  font-size: 50px;    
  margin-top: 10px;   

  animation-name: go-down; 
  animation-duration: 2s;
    
}

h2{  
   
  font-family: 'Montserrat', sans-serif; 
  font-size: 20pt;
  font-style: bold;

  animation-name: go-down; 
  animation-duration: 3s;
    
}

h3{
  font-family: 'Montserrat', sans-serif; 
  font-size: 20pt;
  font-style: bold;

}


#contatos{       
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;  
  
}


  width: 90px; 
  height: 90px;
  transition: 1s; 
}
/*====================Corpo====================*/

body{
  background: rgb(19, 18, 20);   
  display: grid;
  color: white;
   
}

#sobre{
  font-family: 'Montserrat', sans-serif; 
  font-size: 14pt;
  font-style: bold;       
  line-height: 40px;
  text-align: center;    
  padding: 10px 10px 10px 10px;    
  margin-top: 20px;   
  margin-bottom: 50px; 
    
  animation-name: slidein; 
  animation-duration: 2s;
}


#habilidades{   
  position:inherit; 
  font-family: 'Montserrat', sans-serif; 
  font-size: 14pt;    
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  margin-bottom: 50px; 
    
  animation-name: slidein; 
  animation-duration: 4s;
}

.container {
  width: 50%;     
  font-size: 12pt;
  border: 1pt solid rgb(0, 0, 0);
  border-radius: 15pt;
  padding: 2px 2px 2px 2px;
  background-color:rgba(209, 204, 204, 0.897);  
  
}

.skills {
  text-align: right;
  font-size: 12pt; 
  padding: 2px 10px 2px 2px; 
  color: black;
  font-weight: bold;  
  border: 1px solid black;
  
}

.html {width: 60%; background-color: #26c426e0; border-radius: 10pt; animation: progress-animation-html 6s infinite;}
.css {width: 60%; background-color: #0a8df8e3; border-radius: 10pt; animation: progress-animation-css 6s infinite;}
.js {width: 20%; background-color: #f7ab08d8; border-radius: 10pt; animation: progress-animation-js 6s infinite;}
.php {width: 00%; background-color: #620cebd5; border-radius: 10pt; animation: progress-animation-php 6s infinite;}
.sql {width: 10%; background-color: orangered; border-radius: 10pt; animation: progress-animation-sql 6s infinite;}
.python {width: 60%; background-color: #0c1bebd5; border-radius: 10pt; animation: progress-animation-python 6s infinite;}
.git {width: 50%; background-color: #ff0808dc; border-radius: 10pt; animation: progress-animation-git 6s infinite;}


#idiomas{
  font-family: 'Montserrat', sans-serif; 
  font-size: 14pt;
  font-style: bold;       
  line-height: 40px;
  text-align: center;    
  padding: 10px 10px 10px 10px;    
  margin-top: 20px;  
  margin-bottom: 50px;  
  
  animation-name: slidein; 
  animation-duration: 6s;
}

#projetos{    
  font-family: 'Montserrat', sans-serif;    
  font-size: 14pt;
  font-style: bold;          
  line-height:50px;
  text-align: center; 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;    
  padding: 10px 10px 10px 10px;
  margin-bottom: 50px;   

  animation-name: slidein; 
  animation-duration: 6s;
}

.links{
  text-decoration: none;
  color:black;
  background-color: rgba(209, 204, 204, 0.897);
  border: 1px solid black;
  font-size: 14pt;
  font-style: bold;
  padding: 5px 5px 5px 5px;
  position: relative;
  top: -20px; 
  margin-bottom: 10px;   
  width: 300px;  
    
}

.links:hover{
  background: linear-gradient(to bottom right, rgba(83, 26, 148, 0.856), rgba(209, 66, 9, 0.658));
  color: white;
}

/*====================Formulário e Footer====================*/

footer{
  background: rgba(0, 0, 0, 0.712);
  padding: 20px 20px 20px 20px; 
  font-family: 'Montserrat', sans-serif;   
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  
}


/*====================Animações====================*/

@keyframes progress-animation-html{
  0% { width: 0%; } 
  100% { width: 80%}
}

@keyframes progress-animation-css{
  0% { width: 0%; } 
  100% { width: 80%}
}

@keyframes progress-animation-js{
  0% { width: 0%; } 
  100% { width: 50%}
}

@keyframes progress-animation-php{
  0% { width: 0%; } 
  100% { width: 30%}
}

@keyframes progress-animation-sql{
  0% { width: 0%;} 
  100% { width: 30%}
}

@keyframes progress-animation-python{
  0% { width: 0%;} 
  100% { width: 30%}
}

@keyframes progress-animation-git{
  0% { width: 0%; } 
  100% { width: 50%}
}

@keyframes rotação {  
  0% {transform: rotateY(0deg);} 
  100% {transform: rotateY(-360deg);}
}

@keyframes slidein {
  from {margin-top: 20%;}
  to {margin-bottom: 100%;}
}
  
@keyframes fade {
  from{opacity: 0;}
  to{opacity: 2;}
}

@keyframes go-back {
  from {transform: translateX(150px);}
  to {transform: translateX(0);}
} 

@keyframes go-down {
  from {margin-bottom: 100%;}
  to {margin-top: 0%;}
}
   

@keyframes go-down2 {
  from {margin-bottom: 100%;}
  to {margin-top: 0%;}
}

/* ====================Responsividade==================== */

@media (min-width: 600px) {
    html{
        font-size: 80%;
        grid-template-columns: auto;  
   
    }        
    
}
   